@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
  font-family: norseBold;
  src: url('./fonts/Norse-Bold.otf');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.logo-container {
  background-image: url('./images/leaf.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#odin-logo {
  height: 80%;
}

.logo {
  margin-top: 40%;
  background-color: rgba(0.1, 0.1, 0.1, 0.5);
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: norseBold;
  font-size: xx-large;
  color: #fff;
  cursor: default;
}

.credits {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-size: small;
  margin-bottom: 3%;
  font-weight: bold;
}

.credits a {
  color: #fff;
}

:root {
  --greyish: white;
}

.form-container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.form-info {
  background-color: var(--greyish);
  flex: 1.2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  background-color: white;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  flex: 1.2 1 0;
  position: relative;
  z-index: 10;
  font-family: Roboto;
  color: rgb(54, 54, 54);
}

.submit-section {
  background-color: var(--greyish);
  flex: 1 1 0;
}
.para-1,
.para-2 {
  color: rgb(32, 30, 30);
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  margin-left: 60px;
  cursor: default;
}

.para-3 {
  font-size: x-large;
}

.para-3,
.input-fields {
  margin-left: 5%;
}

.input-fields {
  display: flex;
}

.left-inp,
.right-inp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-inp {
  margin-left: 10%;
}

.left-inp input,
.right-inp input {
  margin-bottom: 20%;
}

.input-group input {
  height: 25px;
  width: 240px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: #e5e7eb;
  text-indent: 3px;
  font-size: large;
}

.input-group input:invalid {
  border-color: red;
}

.input-group input:invalid:focus {
  border-color: red;
}

.input-group input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
}

label {
  font-size: 15px;
  word-spacing: 4px;
}

.submit-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin-top: 30px;
  margin-left: 30px;
  font-family: 'Roboto';
}
.submit-section button {
  background-color: #596d48;
  width: 200px;
  height: 45px;
  border-radius: 3px;
  border: none;
  font-family: 'Roboto';
  color: white;
  font-size: medium;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.submit-section a {
  color: #596d48;
  text-decoration: none;
}
